<header>
    <div class="site-header">
      <h1 class="site-title">
        <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
      </h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  
    <nav>
      <ul>
        <li><a href="{{ "/#skills/" | absolute_url }}">Skills</a></li>
        <li><a href="{{ "/#education/" | absolute_url }}">Education</a></li>
        <li><a href="{{ "/#courseworks" | absolute_url }}">Projects</a></li>
      </ul>
    </nav>
  </header>