<header class="site-header" role="banner">

    <div class="wrapper">
        <h1 class="site-title">
            {{ site.title }}
        </h1>
        <nav class="site-nav" style="display: flex; gap: 1em;">
            <a href="{{ "#skills" | relative_url }}" style="text-decoration: none;">Skills</a>
            <a href="{{ "#education" | relative_url }}" style="text-decoration: none;">Education</a>
            <a href="{{ "#courseworks" | relative_url }}" style="text-decoration: none;">Project</a> 
        </nav>
    
      </div>

  </header>