<header class="site-header" role="banner">

    <div class="wrapper">
        <h1 class="site-title">
            {{ site.title }}
        </h1>
        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="{{ "#skills" | relative_url }}">Skills</a>
                <a class="page-link" href="{{ "#education" | relative_url }}">Education</a>
                <a class="page-link" href="{{ "#courseworks" | relative_url }}">Project</a> 
            </div>
        </nav>
    
      </div>

  </header>